<div id="breadcrumbs">

  <div class="container">

    <ul class="breadcrumbs">
      <li class="home">
        <%=link_to "Home", root_url%>
      </li>
      <li>-</li>
      <li>
        <%=link_to "Melhores", articles_path(:sorting => "best")%>
      </li>
      <li>-</li>
      <li>
        <%=link_to "Últimos", articles_path(:sorting => "latest")%>
      </li>
    </ul>

  </div><!-- end .container -->

</div>

<div id="content">

  <div id="blog" class="container">

    <div class="page-header clearfix">

      <h1 class="page-title">Tutoriais</h1>

      <div id="search-form" class="search">
      </div><!-- end #search-form -->
    <div class="clear"></div>
      <%=will_paginate @articles, :previous_label => "<- Anterior", :next_label => "Próximo ->"%>
    </div><!-- end .page-header -->


    <ul class="blog-posts">
      <%= render @articles%>

    </ul>

    <hr>

     <%=will_paginate @articles, :previous_label => "<- Anterior", :next_label => "Próximo ->"%>
  </div><!-- end #blog -->

</div>

