<div id="breadcrumbs">

	<div class="container">

		<ul class="breadcrumbs">
			<li class="home">
              <%= link_to 'Voltar aos tutoriais', articles_path %>
			</li>
		</ul>

	</div><!-- end .container -->

</div>

<div id="content">

  <div class="container" id="blog">

    <div class="page-header clearfix">

      <h1 class="page-title"></h1>

      <div class="search" id="search-form">

      </div><!-- end #search-form -->

    </div><!-- end .page-header -->

    <div id="main">

      <div class="entry">

        <h2 class="title">
          <%= @article.title%>
        </h2>
        <p class="meta">
          <%=@article.updated_at.strftime("%d de %B de %Y")%> / <%=link_to "#{@article.comments.size} comentários", "#comments"%></p>



        <p>
          <%=@article.content%>
        </p>



      </div><!-- end .comments -->

      <div class="comments">
        <% if @article.comments.size > 0 %>

            <h3>Comentários (<%=@article.comments.size%>)</h3>

            <ol class="comments-list">

              <%@article.comments.each do |comment|%>
                  <%=render comment%>
              <%end%>

            </ol>
        <%end%>

      </div><!-- end .comments -->

      <div class="response">

        <h3>Deixe seu comentário</h3>

        <%if current_user%>
            <%=render :partial => "/comments/form", :locals => {:article => @article}%>

        <%else%>
            <%=link_to "Por favor, efetue seu login ou cadastre-se para deixar seu comentário", login_path%>
        <%end%>

      </div><!-- end .response -->

    </div><!-- end #main -->

    <div id="sidebar">

      <div class="widget">
        <h4 class="widget-title">Nota do tutorial</h4>
        <div id="total_score"></div>
        <p>
          <%=@article.ratings.size%> pessoas classificaram este tutorial
        </p>
        <h5>Deixe a sua:</h5>
        <p>
          <% if current_user %>
              <%= render :partial => "/ratings/form", :locals => {:article => @article}%>
              <p id="rating_result">

              </p>
          <%else%>
            <p>É necessário estar logado para efetuar uma votação.</p>
            <p> <%= link_to "Clique aqui para efetuar o login.", login_path(:return_to_url => article_path(@article))%> </p>
        <%end%>
        </p>
      </div><!-- end .widget -->

      <div class="widget">
        <h4 class="widget-title">Categorias</h4>
        <ul>
          <li><a href="#">Linguagens de Programação</a></li>
          <li><a href="#">Engenharia de Software</a></li>
          <li><a href="#">Empreendedorismo</a></li>
          <li><a href="#">Programação</a></li>
        </ul>
      </div><!-- end .widget -->

      <div class="widget">
        <h4 class="widget-title">Mais tutorias deste usuário</h4>
        <ul>
          <li>
            <a href="#">
              Lorem ipsum dolor
              <span class="meta">January 22, 2011</span>
            </a>
          </li>
          <li>
            <a href="#">
              Consectetur adipiscing elit
              <span class="meta">January 22, 2011</span>
            </a>
          </li>
          <li>
            <a href="#">
              In in vestibulum eros
              <span class="meta">January 22, 2011</span>
            </a>
          </li>
          <li>
            <a href="#">
              Consectetur adipiscing
              <span class="meta">January 22, 2011</span>
            </a>
          </li>
          <li>
            <a href="#">
              Praesent at cursus
              <span class="meta">January 22, 2011</span>
            </a>
          </li>
        </ul>
      </div><!-- end .widget -->


    </div><!-- end #sidebar -->

  </div><!-- end #blog -->

</div>

<script type="text/javascript">
    $('#total_score').raty({
        readOnly:  true,
        half:      true,
        precision: true,
        start: "<%=@article.average_score%>"
    });
</script>