<div class="container">

  <h1 class="slogan">
    Share Your Knowledge
  </h1>

</div><!-- end .container -->


<div class="container">

  <div class="section-title">

    <h6><span class="icon pages"></span>
      <%=link_to "Melhores Tutoriais", articles_path(:sorting=>"best")%>
    </h6>

  </div><!-- end .section-title -->

  <ul class="blog-posts" id="best-tutorials">

    <%@bestArticles.each do |article|%>
        <%=render article%>
        <script type="text/javascript">
            $("#best-tutorials .score<%=article.id%>").raty({
                precision: true,
                half:      true,
                readOnly:  true,
                start: "<%=article.average_score%>"
            });
        </script>
    <%end%>

  </ul>

</div><!-- end .container -->


<div class="container">

  <div class="section-title">

    <h6><span class="icon pages"></span>
      <%=link_to "Últimos Tutoriais Adicionados", articles_path(:sorting=>"lastest")%>
    </h6>

  </div><!-- end .section-title -->

  <ul class="blog-posts " id="latest-tutorials">

    <%@lastestArticles.each do |article|%>
        <%=render article%>
        <script type="text/javascript">
            $("#latest-tutorials .score<%=article.id%>").raty({
                precision: true,
                half:      true,
                readOnly:  true,
                start: "<%=article.average_score%>"
            });
        </script>
    <%end%>

  </ul>

</div><!-- end .container -->

