<%= form_for(@rating) do |f| %>
    <% if @rating.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@rating.errors.count, "error") %> prohibited this rating from being saved:</h2>

          <ul>
            <% @rating.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div id="submit_rating">
    </div>
    <%= f.hidden_field :article_id,:value =>@rating.article_id %>
    <%= f.hidden_field :score%>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>

<script type="text/javascript">
    $('#submit_rating').raty({
        half:       true,
        precision:  true,
        size:       24,
        starHalf:   'star-half-big.png',
        starOff:    'star-off-big.png',
        starOn:     'star-on-big.png',
        target:     '#rating_score',
        targetType: 'number',
        click: function(pontuacao, evt) {
            $.post("/ratings", {
                score: pontuacao, article_id: $("#rating_article_id").val()
                });
        }
    });
</script>